# Challenge 1

In this challenge you will be working on **Pokemon**. You will answer a series of questions in order to practice dataframe calculation, aggregation, and transformation.

![Pokemon](../images/pokemon.jpg)

Follow the instructions below and enter your code.

#### Import all required libraries.

In [1]:
# import libraries

In [2]:
import pandas as pd
import numpy as np

#### Import data set.

Read the dataset `pokemon.csv` into a dataframe called `pokemon`.

*Data set attributed to [Alberto Barradas](https://www.kaggle.com/abcsds/pokemon/)*

In [3]:
# import dataset

In [4]:
pokemon = pd.read_csv('pokemon.csv')
pokemon = pokemon.drop(['#'], axis = 1)

#### Print first 10 rows of `pokemon`.

In [5]:
# your code here

In [6]:
pokemon.head(10)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,CharizardMega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,CharizardMega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

When you look at a data set, you often wonder what each column means. Some open-source data sets provide descriptions of the data set. In many cases, data descriptions are extremely useful for data analysts to perform work efficiently and successfully.

For the `Pokemon.csv` data set, fortunately, the owner provided descriptions which you can see [here](https://www.kaggle.com/abcsds/pokemon/home). For your convenience, we are including the descriptions below. Read the descriptions and understand what each column means. This knowledge is helpful in your work with the data.

| Column | Description |
| --- | --- |
| # | ID for each pokemon |
| Name | Name of each pokemon |
| Type 1 | Each pokemon has a type, this determines weakness/resistance to attacks |
| Type 2 | Some pokemon are dual type and have 2 |
| Total | A general guide to how strong a pokemon is |
| HP | Hit points, or health, defines how much damage a pokemon can withstand before fainting |
| Attack | The base modifier for normal attacks (eg. Scratch, Punch) |
| Defense | The base damage resistance against normal attacks |
| SP Atk | Special attack, the base modifier for special attacks (e.g. fire blast, bubble beam) |
| SP Def | The base damage resistance against special attacks |
| Speed | Determines which pokemon attacks first each round |
| Generation | Number of generation |
| Legendary | True if Legendary Pokemon False if not |

#### Obtain the distinct values across `Type 1` and `Type 2`.

Exctract all the values in `Type 1` and `Type 2`. Then create an array containing the distinct values across both fields.

In [7]:
# your code here

In [8]:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

In [9]:
pokemon['Type 2'].value_counts()

Flying      97
Ground      35
Poison      34
Psychic     33
Fighting    26
Grass       25
Fairy       23
Steel       22
Dark        20
Dragon      18
Water       14
Ghost       14
Ice         14
Rock        14
Fire        12
Electric     6
Normal       4
Bug          3
Name: Type 2, dtype: int64

In [10]:
list([list(pokemon['Type 1'].unique()),list(pokemon['Type 2'].unique())])

[['Grass',
  'Fire',
  'Water',
  'Bug',
  'Normal',
  'Poison',
  'Electric',
  'Ground',
  'Fairy',
  'Fighting',
  'Psychic',
  'Rock',
  'Ghost',
  'Ice',
  'Dragon',
  'Dark',
  'Steel',
  'Flying'],
 ['Poison',
  nan,
  'Flying',
  'Dragon',
  'Ground',
  'Fairy',
  'Grass',
  'Fighting',
  'Psychic',
  'Steel',
  'Ice',
  'Rock',
  'Dark',
  'Water',
  'Electric',
  'Fire',
  'Ghost',
  'Bug',
  'Normal']]

#### Cleanup `Name` that contain "Mega".

If you have checked out the pokemon names carefully enough, you should have found there are junk texts in the pokemon names which contain "Mega". We want to clean up the pokemon names. For instance, "VenusaurMega Venusaur" should be "Mega Venusaur", and "CharizardMega Charizard X" should be "Mega Charizard X".

In [11]:
# your code here
def clean_mega(x) :
    if 'Mega' in x :
        y = x.split(' ')
        y[0]= 'Mega'
        return ' '.join(y)
    else :
        return x

    
pokemon['Name'] = pokemon.Name.apply(clean_mega)

# test transformed data
pokemon.head(10)

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
5,Charmeleon,Fire,NaN,405,58,64,58,80,65,80,1,False
6,Charizard,Fire,Flying,534,78,84,78,109,85,100,1,False
7,Mega Charizard X,Fire,Dragon,634,78,130,111,130,85,100,1,False
8,Mega Charizard Y,Fire,Flying,634,78,104,78,159,115,100,1,False
9,Squirtle,Water,NaN,314,44,48,65,50,64,43,1,False

#### Create a new column called `A/D Ratio` whose value equals to `Attack` devided by `Defense`.

For instance, if a pokemon has the Attack score 49 and Defense score 49, the corresponding `A/D Ratio` is 49/49=1.

In [12]:
# your code here

In [13]:
pokemon['A/D Ratio'] = round(pokemon['Attack'] / pokemon['Defense'], 2)
pokemon.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.00
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.98
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.99
3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.81
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.21

#### Identify the pokemon with the highest `A/D Ratio`.

In [14]:
# your code here

In [15]:
pokemon_highestAD = pokemon[pokemon['A/D Ratio'] == pokemon['A/D Ratio'].max()]
pokemon_highestAD

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
429,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.0

#### Identify the pokemon with the lowest A/D Ratio.

In [16]:
# your code here

In [17]:
pokemon_lowestAD = pokemon[pokemon['A/D Ratio'] == pokemon['A/D Ratio'].min()]
pokemon_lowestAD

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
230,Shuckle,Bug,Rock,505,20,10,230,10,230,5,2,False,0.04

#### Create a new column called `Combo Type` whose value combines `Type 1` and `Type 2`.

Rules:

* If both `Type 1` and `Type 2` have valid values, the `Combo Type` value should contain both values in the form of `<Type 1> <Type 2>`. For example, if `Type 1` value is `Grass` and `Type 2` value is `Poison`, `Combo Type` will be `Grass-Poison`.

* If `Type 1` has valid value but `Type 2` is not, `Combo Type` will be the same as `Type 1`. For example, if `Type 1` is `Fire` whereas `Type 2` is `NaN`, `Combo Type` will be `Fire`.

In [18]:
# your code here

In [19]:
 print(pokemon['Type 1'].isna().sum())
print(pokemon['Type 2'].isna().sum())
# there are NaN values in Type 1, only in Type 2

0
386

In [20]:
new_col = []
for i in range(len(pokemon['Type 2'])):
    if pd.isna(pokemon['Type 2'][i]) == False :
        new_col.append(str(pokemon['Type 1'][i]) + "-" + str(pokemon['Type 2'][i]))
    else : 
        new_col.append(str(pokemon['Type 1'][i]))

In [21]:
pokemon['Combo Type'] = new_col
pokemon.head()

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
0,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,1.00,Grass-Poison
1,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0.98,Grass-Poison
2,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0.99,Grass-Poison
3,Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0.81,Grass-Poison
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,1.21,Fire

#### Identify the pokemon whose `A/D Ratio` are among the top 5.

In [22]:
# method 1 (but I don't get the pokemon names)
top5 = pd.DataFrame(pokemon['A/D Ratio'].nlargest(n=5)).reset_index()
top5

   index  A/D Ratio
0    429       9.00
1    347       4.50
2     19       3.75
3    453       3.12
4    348       3.00

#### For the 5 pokemon printed above, aggregate `Combo Type` and use a list to store the unique values.

Your end product is a list containing the distinct `Combo Type` values of the 5 pokemon with the highest `A/D Ratio`.

In [23]:
# second method
top5_AD = pokemon.sort_values('A/D Ratio', ascending = False).head(5)
top5_AD

,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio,Combo Type
429,DeoxysAttack Forme,Psychic,NaN,600,50,180,20,180,20,150,3,True,9.00,Psychic
347,Carvanha,Water,Dark,305,45,90,20,65,20,65,3,False,4.50,Water-Dark
19,Mega Beedrill,Bug,Poison,495,65,150,40,15,80,145,1,False,3.75,Bug-Poison
453,Cranidos,Rock,NaN,350,67,125,40,30,30,58,4,False,3.12,Rock
348,Sharpedo,Water,Dark,460,70,120,40,95,40,95,3,False,3.00,Water-Dark

#### For each of the `Combo Type` values obtained from the previous question, calculate the mean scores of all numeric fields across all pokemon.

Your output should look like below:

![Aggregate](../images/aggregated-mean.png)

In [24]:
top5_combo = list(top5_AD['Combo Type'].unique())
top5_combo

['Psychic', 'Water-Dark', 'Bug-Poison', 'Rock']

In [25]:
step1 = pokemon.groupby(['Combo Type']).agg({'Total':pd.Series.mean,'HP':pd.Series.mean,'Attack':pd.Series.mean, 'Defense':pd.Series.mean,'Sp. Atk':pd.Series.mean, 'Sp. Def':pd.Series.mean, 'Speed':pd.Series.mean, 'Generation': pd.Series.mean, 'Legendary': pd.Series.mean, 'A/D Ratio':pd.Series.mean})
step1

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
Combo Type,,,,,,,,,,
Bug,289.705882,53.058824,50.352941,55.411765,39.294118,43.647059,47.941176,3.470588,0.0,0.941176
Bug-Electric,395.500000,60.000000,62.000000,55.000000,77.000000,55.000000,86.500000,5.000000,0.0,1.110000
Bug-Fighting,550.000000,80.000000,155.000000,95.000000,40.000000,100.000000,80.000000,2.000000,0.0,1.640000
Bug-Fire,455.000000,70.000000,72.500000,60.000000,92.500000,80.000000,80.000000,5.000000,0.0,1.235000
Bug-Flying,419.500000,63.000000,70.142857,61.571429,72.857143,69.071429,82.857143,2.857143,0.0,1.145714
...,...,...,...,...,...,...,...,...,...,...
Water-Ice,511.666667,90.000000,83.333333,113.333333,80.000000,78.333333,66.666667,1.000000,0.0,0.823333
Water-Poison,426.666667,61.666667,68.333333,58.333333,61.666667,91.666667,85.000000,1.333333,0.0,1.163333
Water-Psychic,481.000000,87.000000,73.000000,104.000000,94.000000,79.000000,44.000000,1.200000,0.0,0.784000
Water-Rock,428.750000,70.750000,82.750000,112.750000,61.500000,65.000000,36.000000,3.750000,0.0,0.727500
Water-Steel,530.000000,84.000000,86.000000,88.000000,111.000000,101.000000,60.000000,4.000000,0.0,0.980000

In [26]:
top5_combogroup = step1.loc[top5_combo]
top5_combogroup

,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,A/D Ratio
Combo Type,,,,,,,,,,
Psychic,464.552632,72.552632,64.947368,67.236842,98.552632,82.394737,78.868421,3.342105,0.236842,1.164211
Water-Dark,493.833333,69.166667,120.000000,65.166667,88.833333,63.500000,87.166667,3.166667,0.000000,2.291667
Bug-Poison,347.916667,53.750000,68.333333,58.083333,42.500000,59.333333,65.916667,2.333333,0.000000,1.315833
Rock,409.444444,67.111111,103.333333,107.222222,40.555556,58.333333,32.888889,3.888889,0.111111,1.258889